<nav
  class="text-white top-0 absolute z-50 w-full flex justify-end gap-4 px-2 py-3 bg-slate-900 shadow-md"
>
  <a routerLink="/pokemons" routerLinkActive="text-amber-300" class="hover:underline"> Pokemons </a>
  <a routerLink="/about" routerLinkActive="text-amber-300" class="hover:underline"> About </a>
  <a routerLink="/pricing" routerLinkActive="text-amber-300" class="hover:underline"> Pricing </a>
  <a routerLink="/contact" routerLinkActive="text-amber-300" class="hover:underline"> Contact </a>
</nav>
